<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vehicle list</title>
</head>
<body>
<div th:replace="templates :: navigator"></div>
<h1>Vehicle list</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Registration</th>
        <th>Brand</th>
        <th>Model</th>
        <th>DailyFee</th>
        <th>LocationId</th>
        <th>VehicleStatus</th>
        <th></th>
    </tr>
    <tr th:each="vehicle : ${our_vehicle_list}">
        <td th:text="${vehicle.getId()}"></td>
        <td th:text="${vehicle.getRegistration()}"></td>
        <td th:text="${vehicle.getBrand()}"></td>
        <td th:text="${vehicle.getModel()}"></td>
        <td th:text="${vehicle.getDailyFee()}"></td>
        <td th:text="${vehicle.getLocationId()}"></td>
        <td th:text="${vehicle.getVehicleStatus()}"></td>
        <td>
            <a th:href="@{'/vehicle/edit/'+ ${vehicle.getId()}}">Edit</a>
            <a th:href="@{'/vehicle/delete/'+ ${vehicle.getId()}}">Delete</a>
        </td>
    </tr>

</table>
</body>
</html>
